<div class="container">
	
  <br /> 

  <h6 class="col-xs-offset-10 col-xs-2">
    <span class="btn btn-link" style="position: absolute; bottom: 0; right: 0;">
      &raquo; &nbsp<%= link_to " Retour à l'acceuil", root_path(anchor: "palmares"), method: :get %>
    </span>
  </h6>

  <br />

  <div class="row well">
    <h3 class="text-center"> Palmarès des quartiers les plus rentables </h3> 
  </div>

  <div class="row">

    <div class="col-xs-offset-3 col-md-offset-1 col-md-3 col-xs-9">
      <i>Quartiers analysés &nbsp &nbsp</i><span class="badge"><%= @districts.count%> </span>
    </div>

    <div class="col-md-3 hidden-xs">
      <i>&nbsp &nbsp &nbsp Annonces de vente &nbsp &nbsp</i><span class="badge"><%= Sale.count%> </span>
    </div>

    <div class="col-md-3 col-md-offset-1 hidden-xs">
      <i>Annonces de location &nbsp &nbsp</i><span class="badge"><%= Rental.count%> </span>
    </div>

  </div>

  <hr>
  <br />


  <div class="row jobs">
    <div class="col-xs-12 ">
      <div class="job-posts table-responsive">
        
        <table class="table text-center">
          <thead >
            <tr>
              <th><%= image_tag "location.jpeg", class: "col-md-offset-3 col-xs-offset-4", style: "width: 50px; height: 40px"%></th>
              <th class="text-center">Rentabilité<span class="hidden-xs"> brute</span></th>
              <th class="text-center hidden-xs hidden-sm hidden-md">Annonces de vente</th>
              <th class="text-center hidden-xs hidden-sm">Prix moyen du m²</th>
              <th class="text-center hidden-xs hidden-sm hidden-md">Annonces de location</th>
              <th class="text-center hidden-xs hidden-sm">Loyer moyen du m²</th>
            </tr>
          </thead>

          <% i=1%>
          <% @districts.each do |district| %>
            <tr>  
                <td class="tbl-title text-left"><i class="icon-location"><h5> <%= i.to_s+" - "+district.name%>  (<%= district.city.name %>)</h5></i></td>
                <% i+=1 %>
                <td><%= district.yield %> %</td>
                <td class="hidden-xs hidden-sm hidden-md"><%= number_with_delimiter(district.sales_count, delimiter: " ") %></td>
                <td class="hidden-xs hidden-sm"><%= number_with_delimiter( district.sqm_buy, delimiter: " ")%></td>
                <td class="hidden-xs hidden-sm hidden-md"><%= number_with_delimiter(district.rentals_count, delimiter: " ") %></td>
                <td class="hidden-xs hidden-sm"><%= number_with_delimiter( district.sqm_rent, delimiter: " ") %></td>            
            </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>

</div>

