<h1>Estimation de votre bien</h1>
<h3> Appartement de <%=@surface%> m² au quartier <%= @district.name %> à <%=@city.name%></h3>
<h5> <%if @type==2%>
	Loyer calculé de <%= @price %> DH / mois

	<% else %>

	Prix calculé de <%= @price %> DH
	<% end %>


</h5>
