




 
   <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-danger">   
          
      <div class="panel-heading">
      	<h3 class="panel-title text-center">Estimation de votre bien</h3>
      </div>
      
      <div class="panel-body">

      	<h3 class="col-md-offset-3"><%= image_tag "location.jpeg", style: "width: 60px; height: 50px"%>
      		Au quartier <%= @district.name %> à <%=@city.name%></h3>
      	<h4 class="text-center"><%=@type %> de <%=@surface%> m²</h4>
      	<br />

        <div class="row">
          <div class="col-xs-offset-1 col-xs-3">
      				<h5>Prix moyen  &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @price, delimiter: " ")%> DH </span></h5>
    			</div>

    	    <div class="col-xs-3">
    	      <h5>Loyer moyen  &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @rent, delimiter: " ")%> DH </span></h5>
    	    </div>

    	    <div class="col-xs-4">
    	      <h5>Rentabilité estimée &nbsp &nbsp<span class="badge"><%= @district.yield%> % </span></h5>
    	    </div>
        </div>
        <br>  
        </div>
      </div>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-warning">   
          
      <div class="panel-heading">
        <h3 class="panel-title text-center">Caractéristiques du quartier</h3>
      </div>

        <div class="row">
          <br />
          <div class="col-xs-offset-1 col-xs-2">
              <h5><b><i>Prix du m² &nbsp :</i></b></h5>
          </div>
     

          <div class="col-xs-3">
            <h5>minimum &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @district.sales.minimum('sqm_price'), delimiter: " ")%> DH </span></h5>
          </div>

          <div class=" col-xs-3">
              <h5>moyenne  &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @sqm_price_buy, delimiter: " ")%> DH </span></h5>
          </div>

          <div class="col-xs-3">
            <h5>maximum &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @district.sales.maximum('sqm_price'), delimiter: " ")%> DH </span></h5>
          </div>
        </div>

        <hr />

         <div class="row">
          <div class="col-xs-offset-1 col-xs-2">
              <h5><b><i>Loyer du m² &nbsp  :</i></b></h5>
          </div>

          <div class="col-xs-3">
            <h5>minimum &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @district.rentals.minimum('sqm_price'), delimiter: " ")%> DH </span></h5>
          </div>

          <div class="col-xs-3">
              <h5>moyenne &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @sqm_price_rent, delimiter: " ")%> DH </span></h5>
          </div>

          <div class="col-xs-3">
            <h5>maximum &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @district.rentals.maximum('sqm_price'), delimiter: " ")%> DH </span></h5>
          </div>
        </div>
        <br />


       
            
       		 
       		
    
	</div>
</div>

	<div class="col-md-12 text-center">
		<h4>&raquo; &nbsp &nbsp <%=link_to "Nouvelle estimation", root_path(anchor: "eval"), method: :get%></h4>
	</div>


