


  <% if @district.is_valid? %>

 
   <div class="col-md-offset-2 col-md-8 col-xs-12">
    <div class="panel panel-danger">   
          
      <div class="panel-heading">
      	<h3 class="panel-title text-center">Estimation de votre bien</h3>
      </div>
      
      <div class="panel-body">

      	<h3 class="text-center"><%= image_tag "location.jpeg", style: "width: 60px; height: 50px"%>
      		<span class="hidden-xs">Quartier </span><%= @district.name %> à <%=@city.name%></h3>
      	<h4 class="text-center"><%=@type %> de <%=@surface%> m²</h4>
      	<br />

        <div class="row">
          <div class="col-md-offset-1 col-md-3 text-center">
      				<h5>Prix moyen  &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @price, delimiter: " ")%> DH </span></h5>
    			</div>

    	    <div class="col-md-3 text-center">
    	      <h5>Loyer moyen  &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @rent, delimiter: " ")%> DH </span></h5>
    	    </div>

    	    <div class="col-md-4 text-center">
    	      <h5>Rentabilité estimée &nbsp &nbsp<span class="badge"><%= @district.yield%> % </span></h5>
    	    </div>
        </div>
        <br>  
        </div>
      </div>
    </div>

<div class="col-sm-offset-2 col-sm-4 col-xs-12">
  <div class="panel panel-warning">             
    <div class="panel-heading">
        <h3 class="panel-title text-center">m² à l'achat au quartier <%=@district.name%></h3>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="bs-component">
     
          <ul class="list-group">
            
            <li class="list-group-item">
              Nombre d'annonces de vente
              <span class="badge"><%=@stats_sales[:number].to_i%></span>
            </li>

             <li class="list-group-item">
              Estimation basse du m²
              <span class="badge"><%=number_with_delimiter(@stats_sales[:q1].to_i, delimiter: " ")%> DH</span>
            </li>

            <li class="list-group-item">
              Estimation moyenne du m²
              <span class="badge"><%= number_with_delimiter(@stats_sales[:mean].to_i, delimiter: " ")%> DH</span>
            </li>             

            <li class="list-group-item">
              Estimation haute du m²
              <span class="badge"><%=number_with_delimiter(@stats_sales[:q3].to_i, delimiter: " ")%> DH</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

        

<div class="col-sm-4 col-xs-12">
  <div class="panel panel-warning">           
    <div class="panel-heading">
      <h3 class="panel-title text-center">m² à la location au quartier <%=@district.name%></h3>
    </div>
        <div class="bs-component">
          <ul class="list-group">
            
            <li class="list-group-item">
              Nombre d'annonces de location
              <span class="badge"><%=@stats_rentals[:number].to_i%></span>
            </li>

            <li class="list-group-item">
              Estimation basse du m²
              <span class="badge"><%=@stats_rentals[:q1].to_i%> DH</span>
            </li>

            <li class="list-group-item">
              Estimation moyenne du m²
              <span class="badge"><%=@stats_rentals[:mean].to_i%> DH</span>
            </li>


            <li class="list-group-item">
              Estimation haute du m²
              <span class="badge"><%=@stats_rentals[:q3].to_i%> DH</span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 
      
    
<% else %>

  <div class="col-xs-offset-2 col-xs-8">
    <div class="well text-center">
      <h3> C'est gênant...  </h3>
      Nous ne disposons pas de suffisement d'annonces pour réaliser une estimation fiable de votre bien au quartier <%= @district.name%>
    </div>
  </div>

<% end %>


<div class="col-md-12 text-center">
	<h4>&raquo; &nbsp <%=link_to "Nouvelle estimation", root_path(anchor: "eval"), method: :get%></h4>
</div>


