




 
   <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-danger">   
          
            <div class="panel-heading">
            	<h3 class="panel-title text-center">Estimation de votre bien</h3>
            </div>
            
            <div class="panel-body">
            	<h3 class="col-md-offset-3"><%= image_tag "location.jpeg", style: "width: 60px; height: 50px"%>
            		Au quartier <%= @district.name %> à <%=@city.name%></h3>
            	<h4 class="text-center"><%=@type %> de <%=@surface%> m²</h4>
            	<br />

            	<div class="col-xs-offset-1 col-xs-4">
      				<h5>Prix de vente moyen &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @price, delimiter: " ")%> DH </span></h5>
    			</div>

			    <div class="col-xs-3">
			      <h5>Loyer moyen &nbsp &nbsp<span class="badge"><%= number_with_delimiter( @rent, delimiter: " ")%> DH </span></h5>
			    </div>

			    <div class="col-xs-4">
			      <h5>Rentabilité estimée &nbsp &nbsp<span class="badge"><%= @district.yield%> % </span></h5>
			    </div>
            
       		 </div>
       		
    
	</div>
</div>

	<div class="col-md-12 text-center">
		<h4>&raquo; &nbsp &nbsp <%=link_to "Nouvelle estimation", pages_main_path, method: :get%></h4>
	</div>


