

<p>
  <strong>City:</strong>
  <%= @sale.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @sale.temp %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sale.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale.price %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @sale.surface %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @sale.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @sale.bathrooms %>
</p>

<p>
  <strong>Website:</strong>
  <%= @sale.website %>
</p>

<p>
  <strong>Détail:</strong>
  <%= @sale.detail %>
</p>

<p>
  <strong>Link:</strong>
  <%= @sale.link %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @sale.last_update %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
